 <div class="container-fluid mt-5 about-style" id="donateid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">Donate Now</h1>
          <p class="text-center sub-heading">These are some of the photos from the work we have contributed to</p> 
          <div class="row">
               <div class="col-md-4">
                   <div class="box our-services c1">
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="box our-services c2">
                       
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="box our-services c3">
                       
                   </div>
               </div>
          </div>
        <div class="contentBx">
            <center>
            <h2>Raise funds online for medical emergencies and social causes</h2>
            <div class="btn">
            <a href="https://rzp.io/l/k3XQr09O7Y">Donate Now</a>
            </div>

            </center>


        </div>

          
        </div>
      </div>
 </div>
