<div id="locationid">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27983.830678125145!2d77.09817221496671!3d28.75004887728889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0127947c9d65%3A0x12ce9ec01b812d4e!2sDelhi%20Technological%20University%2C%20Shahbad%20Daulatpur%20Village%2C%20Rohini%2C%20Delhi%2C%20110042!5e0!3m2!1sen!2sin!4v1624892162800!5m2!1sen!2sin" 
    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
